body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background: #1f1f1f;
  text-align: center;
  padding: 2rem 1rem;
}

.logo {
  width: 100px;
  border-radius: 12px;
  margin-bottom: 1rem;
}

h1 {
  color: #ff4081;
  margin-bottom: 0.5rem;
}

.boletos {
  padding: 1rem;
}

.boletos h2 {
  color: #ff4081;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 8px;
  padding: 1rem 0;
}

.boleto {
  display: inline-block;
  padding: 0.6rem;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.disponible {
  background-color: #4caf50;
  color: white;
}

.ocupado {
  background-color: #f44336;
  color: white;
}

.formulario {
  padding: 1rem;
  background: #1e1e1e;
  margin: 1rem;
  border-radius: 10px;
}

.formulario h2 {
  color: #ff4081;
  text-align: center;
}

input {
  padding: 12px;
  border: none;
  border-radius: 6px;
  margin-bottom: 12px;
  width: 100%;
  background: #2c2c2c;
  color: white;
}

button {
  background-color: #ff4081;
  border: none;
  padding: 14px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #e91e63;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #1f1f1f;
  font-size: 0.9rem;
  color: #bbb;
}
